NEXT_PUBLIC_API_BASE_URL=/yys-cbg-inspector
NEXT_PUBLIC_ASSET_BASE_URL=/assets/
API_SERVER_URL=http://127.0.0.1:3001

# NestJS 服务
PORT=3001
HOST=0.0.0.0
CORS_ORIGIN=http://127.0.0.1:12831

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=你的服务器密码
MYSQL_DATABASE=yys_cbg_inspector
