/* 速度组合的号位详情。 */
.speed-combination-positions {
  display: flex;
  min-width: max-content;
  flex-wrap: wrap;
  gap: 0;

  span {
    color: #536170;

    & + span::before {
      margin: 0 7px;
      color: #b1bac3;
      content: "|";
    }
  }

  .is-tail {
    color: #b4473e;
    font-weight: 700;
  }
}
